body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

.header{
    max-width:750px;
    width: auto;
    left: 5%;
    height:200px;
    background-image: url('https://forexlis.ru/images/blog/kvazimodo-trading/kvazimodo-trading.jpg'); 
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.container{
    padding:10px;
    width:auto;
    margin:0 auto;
}


#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(181, 202, 198);
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

.item{
    width:auto;
    height: 28px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.content{
    position: relative;
    left: 5%;
    widows: auto;
    max-width:750px;
    height: 350px;
    max-height:350px;
    background-color: silver;
    overflow: auto;
    margin: 0 ;
}


.clearbutton{
    font-size: 20px;
    padding: 2px 2px 2px 25px;
    border: dotted crimson 1px ;;
    
}

#setDate{
    font-size: 15px;
    padding: 2px 2px 2px 25px;
    border: dotted crimson 2px ;;
    
}